extends base.jade
block title
  title #{data.title}
  
block content
  .navigation_area
    mixin tree(t)
      .navnode_title #{t.path||'/'}
      each n in t.nodes
        .navnode
          if n.ext
            - var ln = (data.relative_root+n.pathpad+n.link).replace('//','/')
            a(href="#{ln}") #{n.title}
          else
            +tree(n)
        
    .navnode
      +tree(data.sitemap)
    
  .markdown_content!=markdown(data.content)
  //- h1 some sample content here
  //- p #{data.content}

  .meta_string
    p file: #{data.fname}
    //- p created: #{dateTimeString(data.btime)}
    p last modified: #{dateTimeString(data.mtime)}
